---
import type { PriceListPrice } from "../../utils/api/food";
import { formatCurrency, formatNotes, formatTotalWeight } from "../../utils/formatting";

interface Props {
  price: PriceListPrice;
}

const { price } = Astro.props;
---

<tr>
  <td data-label="Weight">
    {formatTotalWeight(price.quantity, price.weight)}
  </td>
  <td data-label="Price">{formatCurrency(price.price)}</td>
  <td data-label="Per kg">{formatCurrency(price.perKilo)}</td>
  <td data-label="Notes">{formatNotes(price.notes)}</td>
  <td data-label="Shop">{price.shop}</td>
  <td data-label="Buy">
    <a href={price.url}>Buy</a>
  </td>
</tr>
