---
import type { FoodWithPriceList } from "../../utils/api/food";
import { sortPriceListPricesByPricePerKilo } from "../../utils/collections";
import { formatCurrency } from "../../utils/formatting";
import PriceTable from "./PriceTable.astro";
import { PortableText } from "astro-portabletext";
interface Props {
  food: FoodWithPriceList;
}

const {
  food: { brand, name, prices, description },
} = Astro.props;
const bestPricePerKilo =
  sortPriceListPricesByPricePerKilo(prices).at(0)?.perKilo;
---

<style>
  .price-tag > h4 {
    font-size: 2rem !important;
  }

  .shop-details-content li {
    font-size: 1rem;
    font-weight: 400;
    color: #868686 !important;
    font-family: var(--font-cabin);
    letter-spacing: 0.03em;
  }

  .shop-details-content ul {
    margin-bottom: 0;
  }
</style>

<div class="col-lg-6">
  <div class="shop-details-content">
    <h3>{name}</h3>
    <div class="model-number">
      <span>{brand.name}</span>
    </div>
    <div class="price-tag">
      {
        (bestPricePerKilo && (
          <h4>from {formatCurrency(bestPricePerKilo)} per kg</h4>
        )) || <h4>Out of stock</h4>
      }
    </div>
    {description && <PortableText value={description} />}
    <div>{prices.length > 0 && <PriceTable prices={prices} />}</div>
  </div>
</div>
