---
import ImageGallery from "@components/food/ImageGallery.astro";
import JsonLdProduct from "@components/food/JsonLdProduct.astro";
import ProductInformation from "@components/food/ProductInformation.astro";
import SearchBar from "@components/global/SearchBar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { formatCurrency } from "src/utils/formatting";
import type { FoodWithPriceList } from "../../utils/api/food";
import { sortPriceListPricesByPricePerKilo } from "../../utils/collections";

interface Props {
  food: FoodWithPriceList;
}

const {food} = Astro.props;

const bestPricePerKilo = sortPriceListPricesByPricePerKilo(food.prices).at(0)?.perKilo;
let pageTitle = `${food.brand.name} ${food.name}`
if (bestPricePerKilo) {
  pageTitle = `${pageTitle} from ${formatCurrency(bestPricePerKilo)} per kg`
}
---

<BaseLayout 
  seo={{
    title: pageTitle,
    description: `Find the cheapeast place to buy ${food.brand.name} ${food.name} online`
  }}
>
  <JsonLdProduct food={food} />

  <SearchBar />
  <div class="shop-details-page mb-120">
    <div class="container">
      <div class="row g-lg-4 gy-5 mb-120">
        <ImageGallery front={food.images?.front} back={food.images?.back} />
        <ProductInformation food={food} />
      </div>
    </div>
  </div>
</BaseLayout>
