---
import ImageGallery from "@components/food/ImageGallery.astro";
import JsonLdProduct from "@components/food/JsonLdProduct.astro";
import ProductInformation from "@components/food/ProductInformation.astro";
import SearchBar from "@components/global/SearchBar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { FoodWithPriceList } from "../../utils/api/food";
import Banner from "@components/global/Banner.astro";
import type { BreadcrumbType } from "@components/global/Breadcrumbs.astro";

interface Props {
  food: FoodWithPriceList;
}

const { food } = Astro.props;

const bannerTitle = `${food.brand.name} ${food.name}`;
let pageTitle = bannerTitle;

const breadcrumbs: BreadcrumbType[] = [
  {
    title: "All food",
    path: "/food/",
  },
  {
    title: bannerTitle,
  },
];
---

<BaseLayout
  seo={{
    title: pageTitle,
    description: `Find the cheapeast place to buy ${food.brand.name} ${food.name} online`,
  }}
>
  <JsonLdProduct food={food} />

  <Banner title={bannerTitle} breadcrumbs={breadcrumbs} />
  <div class="shop-details-page pt-120 mb-120">
    <SearchBar />
    <div class="container">
      <div class="row g-lg-4 gy-5 mb-120">
        <ImageGallery front={food.images?.front} back={food.images?.back} />
        <ProductInformation food={food} />
      </div>
    </div>
  </div>
</BaseLayout>
